#react-qrcode-logo {
  border: 1px black dashed;
}

.myOverflowHidden {
  overflow: hidden;
}

.myOverflowUnset {
  overflow: unset;
}

#comment {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  /* border: 1px solid black; */
}

.ui.primary.button.stabraq-bg {
  background: #3adb6b;
}

.btn-stabraq {
  background-color: #3adb6b;
}

/* .btn {
  color: white;
} */

.btn-outline-stabraq {
  color: #3adb6b;
  border-color: #3adb6b;
}

.btn-check:checked + .btn-outline-stabraq,
.btn-outline-stabraq:hover,
.btn-outline-stabraq:active {
  color: #ffffff;
  background-color: #3adb6b;
  border-color: #3adb6b;
  box-shadow: 0 0 0 0rem;
}

.form-check-input:checked {
  background-color: #3adb6b;
  border-color: #3adb6b;
}

.form-check-input:focus {
  border-color: #7ff7a3;
  box-shadow: 0 0 0 0rem;
}

.text-stabraq {
  color: #3adb6b !important;
}

#exampleModal .modal-body.stabraq-bg {
  background-color: #3adb6b;
}

#exampleModal .modal-body.error-bg {
  background-color: #ff0000;
}

.freebirdLightBackground {
  background-color: #d2ebd3;
}

.my-pre-wrap {
  white-space: pre-wrap;
}

.user-img {
  width: 230px;
  height: 250px;
  filter: invert(71%) sepia(69%) saturate(468%) hue-rotate(79deg)
    brightness(90%) contrast(93%);
}

.logo-img {
  width: 100%;
  height: 100%;
}

.shrink {
  width: 70px;
  height: 76px;
  transition: 0.5s ease;
}

.shrink-logo {
  width: 15%;
  height: 15%;
  transition: 0.5s ease;
}

.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.no-btn-focus:focus {
  box-shadow: 0 0 0 0rem;
}

@media screen and (max-width: 700px) {
  .user-img {
    width: 60px;
    height: 65px;
  }

  .shrink {
    width: 20px;
    height: 22px;
  }
  .container-fluid {
    padding: 0px;
  }
}

@media screen and (max-width: 460px) {
  #react-qrcode-logo {
    height: 100% !important;
    width: 100% !important;
  }
}

.text-green-member-color {
  color: #21ba45 !important;
}

.text-orange-member-color {
  color: #f2711c !important;
}

.text-hours-member-color {
  color: #076ec2 !important;
}

.text-ten-days-member-color {
  color: #21d0c8 !important;
}

.text-not-member-color {
  color: #9a08c7 !important;
}

.row-color {
  background: #f0f8ff;
}

.active-bg-color {
  background: #deb887 !important;
}

.non-active-bg-color {
  background: #008b8b !important;
}
